body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  main {
    margin-top: 80px;
    padding: 1rem;
    flex-grow: 1;
  }
  
  article {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
  }
  
  footer a {
    color: #d9d9d9;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  